@use "../../base/mixins" as *;

.featured-article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10rem;
  margin-top: 6rem;

  &__info {
    width: 49%;

    & .copy {
      margin-top: 4rem;
      margin-bottom: 3rem;
    }
  }

  & img {
    width: 49%;
    height: 450px;
    object-fit: cover;
    border-radius: 4rem;
  }

  @include respond(phone) {
    flex-direction: column;
    gap: 3rem;

    &__info {
      width: 100%;
    }

    & img {
      width: 100%;
      height: 30rem;
    }
  }
}
